.img{
    align-items: center;
    width: max-content;
}
body{
    text-align: center;
    font-family: 'Trebuchet MS';
    font-size: 23px;
    background-color: rgb(170, 255, 169);
}
.voltar {
    /* Adicione estilos desejados aqui */
    padding: 5px;
    background-color: rgb(45, 89, 32);
    color: #fff;
    position:absolute;
    left: 6%;
    top: 6%;
}
.voltar:hover {
    /* Adicione estilos desejados aqui */
    padding: 5px;
    background-color: rgb(49, 136, 48);
    border-color: rgb(49, 136, 48);
    color: #fff;
    position:absolute;
    left: 6%;
    top: 6%;
}
button{
    background-color: rgb(15, 93, 13);
    color: aliceblue;
    padding: 3px;
    border-radius: 8px;
    border-color: rgb(32, 100, 31);
    border-width: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
button:hover{
    background-color: rgb(49, 136, 48);
    color: aliceblue;
    padding: 3px;
    border-radius: 8px;
    border-color: rgb(49, 136, 48);
    border-width: 5px;
}
th{
    color: #000;
}
.container{
    margin-top: 30px;
}
.foto{
    overflow: hidden;
    border-radius: 50%;
    width: 100px; /* Ajuste conforme necessário */
    height: 100px; /* Ajuste conforme necessário */
    object-fit: cover;
}

.foto img {
    width: 80%;
    height: auto;
    display: block;
}
.logo{
    width: 100px;
}
p{
    font-size: 20px;
    font-family: 'Trebuchet MS';
    font-style: italic, ;
}
.logout{
    background-color: rgb(150, 22, 22);
    color: aliceblue;
    border-color: rgb(192, 32, 32);
    position:absolute;
    left: 6%;
    top: 6%;
}
.logout:hover{
    background-color: rgb(199, 41, 41);
    color: aliceblue;
    border-color: rgb(199, 41, 41);
}
h2{
    font-size: 20px;
}
h3{
    font-size: 15px;
}
h4{
    font-size: 20px;
}